* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centro {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  text-align: center;
}

header a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  color: #002d75;
}

header a:hover {
  background-color: #b3e5fc;
}

.jumbo {
  background-image: url(/images/molisana-home.jpg?cb7db241726fb646d7e1c8553429c07c);
  background-position: center;
  background-size: cover;
  height: 500px;
  margin-top: 10px;
}

.schede {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.schede .scheda {
  position: relative;
  width: calc(100% / 3);
}

.schede .scheda:hover {
  opacity: 0.5;
}

.schede .scheda img {
  max-width: 100%;
}

.schede .scheda .over {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-30px);
  left: 50px;
}

.schede .scheda:hover .over {
  display: block;
}

.schede .scheda a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

footer {
  background-color: white;
}

footer li {
  list-style: none;
}

.centro {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.centro .prodotti,
.centro .limited,
.centro .news,
.centro .logo {
  margin-top: 30px;
}

.centro .box {
  width: calc(100% / 4);
}

.centro .box .limited h3,
.centro .box .news h3 {
  color: #808080;
}

.centro .box .limited h3:hover,
.centro .box .news h3:hover {
  color: #0d2240;
}

.centro .box h3 {
  color: #0d2240;
  text-transform: uppercase;
}

.centro .box ul {
  margin-top: 15px;
  font-size: 18px;
}

.centro .box ul li {
  color: #c2c2c2;
  margin-top: 5px;
}

.centro .box .info {
  text-transform: uppercase;
  font-size: 13px;
}

.centro .box .info p {
  color: #c2c2c2;
  margin-top: 5px;
}

.centro .box .info span {
  color: #808080;
}

.centro .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.foot {
  margin-top: 50px;
}

.foot img {
  height: 180px;
  max-width: 100%;
}

#und {
  text-decoration: underline;
}

